@model AbonamentViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/abonaments_clients.css" />
}

<div class="page-header col-lg-12">
    <h2>
        @ViewBag.Title
    </h2>
</div>

<form asp-action="@ViewBag.Action" id="AddAbonament">

    <div class="col-lg-12 row">
        <div class="col-lg-12 row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Id" />
            <div class="form-group col-lg-6">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input type="text" asp-for="@Model.Name" class="form-control"/>
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-6">
                <label asp-for="@Model.Type" class="control-label"></label>
                <select id="selectedType" asp-for="@Model.Type" asp-items="Html.GetEnumSelectList<Fitness.Models.Enums.AbonamentType>()" class="form-control">
                    <option selected="selected" value="">Kérem válasszon</option>
                </select>
                <span asp-validation-for="@Model.Type" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-12">
                <label asp-for="@Model.Description" class="control-label"></label>
                <textarea asp-for="@Model.Description" class="form-control" ></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
        </div>
        @*<div class="col-lg-12 row">
            <div class="form-group col-lg-4" id="startDate" hidden>
                <label asp-for="@Model.Abonament.StartDate" class="control-label"></label>
                <input type="date" asp-for="@Model.Abonament.StartDate" class="form-control" value=""/>
                <span asp-validation-for="@Model.Abonament.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4" id="endDate" hidden>
                <label asp-for="@Model.Abonament.EndDate" class="control-label"></label>
                <input type="date" asp-for="@Model.Abonament.EndDate" class="form-control" value="" />
                <span asp-validation-for="@Model.Abonament.EndDate" class="text-danger"></span>
            </div>
            <div class="accesLimit form-group col-lg-4" id="accessLimit" hidden>
                <label asp-for="@Model.Abonament.AccessLimit" class="control-label"></label>
                <input type="number" asp-for="@Model.Abonament.AccessLimit" class="form-control" value="" />
                <span asp-validation-for="@Model.Abonament.AccessLimit" class="text-danger"></span>
            </div>
        </div>*@

        <div class="col-12" style="padding-top:20px">
            <h5>További megszorítások</h5>
        </div>

        <div class="col-lg-12 row">
            <div class="form-group col-lg-4">
                <label asp-for="@Model.StartTime" class="control-label"></label>
                <input type="time" asp-for="@Model.StartTime" class="form-control" value="" />
                <span asp-validation-for="@Model.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group col-lg-4">
                <label asp-for="@Model.EndTime" class="control-label"></label>
                <input type="time" asp-for="@Model.EndTime" class="form-control" value="" />
                <span asp-validation-for="@Model.EndTime" class="text-danger"></span>
            </div>

            <div class="form-group col-lg-4">
                <label asp-for="@Model.AccessLimitPerDay" class="control-label"></label>
                <input type="number" asp-for="@Model.AccessLimitPerDay" class="form-control" value=""/>
                <span asp-validation-for="@Model.AccessLimitPerDay" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-12">
            <label asp-for="AccessDays" class="control-label"></label>
            <p> <input type="checkbox" id="selectAll" /> Select all </p>
            <table>
                @for (int i = 0; i < Model.AccessDays.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.CheckBoxFor(m => m.AccessDays[i].Selected)
                        </td>
                        <td>
                            @Html.DisplayFor(m => m.AccessDays[i].Text)
                            @Html.HiddenFor(m => m.AccessDays[i].Value)
                            @Html.HiddenFor(m => m.AccessDays[i].Text)
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="form-group col-lg-12" style="text-align:center; margin-top: 30px">
            <input type="submit" value="Bérlet hozzáadása" class="addButton" />
        </div>
        <div class="col-12">
            <a asp-action="Index">Vissza a bérletekhez</a>
        </div>


    </div>


</form>

@section Scripts {
    <script src="~/js/abonaments.js"></script>
}
