@model List<EntranceViewModel>
@{
    ViewData["Title"] = "Belépések";
}

@section Styles {
    <link rel="stylesheet" href="~/css/abonaments_clients.css" />
}

<div class="page-header">
    <h2>Belépések</h2>
</div>
<div class="col-lg-12 row">
    <table>
        <thead>
            <tr>
                <th>Sorszám</th>
                <th>Felhasználó</th>
                <th>Abonament</th>
                <th>Dátum</th>
            </tr>
        </thead>
        @foreach(var entrance in Model)
        {
            var i = 0;
        <tr>
            <td>@i</td>
            <td>@entrance.User.FirstName @entrance.User.LastName</td>
            <td>@entrance.Abonament.Name</td>
            <td>@entrance.EnteringTime</td>
        </tr>
        }
    </table>
</div>