@model UserViewModel

@section Styles {
    <link rel="stylesheet" href="~/css/abonaments_clients.css" />
}

<div class="page-header col-lg-12">
    <h2>
        @ViewBag.Title
    </h2>
</div>



<div class="col-lg-12 row list listElement">
    <div class="col-lg-12 list abonamentHeader">
        <div class="col-lg-8 list">
            Adatok
        </div>
        <div class="col-lg-4 list listElementActions">
            <a class="whiteLink" asp-action="Edit" asp-route-id="@Model.User.UserId"></a>
        </div>
    </div>
    <div class="col-lg-12 list listElementContent">
        <div class="col-lg-3 listElementLeft active">
            <img class="image" src="~/images/avatarPalma.jpg" alt="" />

        </div>
        <div class="col-lg-9 listElementRight">
            <div class="col-lg-12 row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="@Model.User.UserId" />
                <div class="form-group col-lg-6">
                    <label asp-for="@Model.User.FirstName" class="control-label"></label>&nbsp;<button class="pencilButton glyphicon glyphicon-pencil" id="editFirstName"></button>
                    <input type="text" asp-for="@Model.User.FirstName" id="firstName" class="form-control" disabled />
                    <span asp-validation-for="@Model.User.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="@Model.User.LastName" class="control-label"></label>&nbsp;<button class="glyphicon glyphicon-pencil pencilButton" id="editLastName"></button>
                    <input type="text" asp-for="@Model.User.LastName" id="lastName" class="form-control" disabled />
                    <span asp-validation-for="@Model.User.LastName" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="@Model.User.Email" class="control-label"></label>&nbsp;<button class="glyphicon glyphicon-pencil pencilButton" id="editEmail"></button>
                    <input type="text" asp-for="@Model.User.Email" id="email" class="form-control" disabled />
                    <span asp-validation-for="@Model.User.Email" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-6">
                    <label asp-for="@Model.User.Phone" class="control-label"></label>&nbsp;<button class="glyphicon glyphicon-pencil pencilButton" id="editPhone"></button>
                    <input type="text" asp-for="@Model.User.Phone" id="phone" class="form-control" disabled />
                    <span asp-validation-for="@Model.User.Phone" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label>Ügyfél kártyái </label>
                <div class="col-lg-12">
                    @foreach (var element in Model.Cards)
                    {
                        <h5>@element.Card.Id</h5>
                        <label>Bérletek</label>
                        foreach(var item in element.Abonaments)
                        {
                        <h5>@item.Name</h5>
                        }

                    }
                </div>
                
            </div>

        </div>

        <div class="form-group col-lg-12">
            <button class="btn ui-button addCardButton" id="addNewCard"><h5>Új kártya</h5></button>
        </div>
        <div class="col-lg-12" id="newCard" hidden>
            <div class="col-lg-6">
                <div class="col-lg-4" style="padding:0px">
                    <h5>Kártya azonosítója:</h5>
                </div>
                <div class="col-lg-8" style="padding:0px">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="col-lg-4" style="padding:0px">
                    <h5>Érvényesség:</h5>
                </div>
                <div class="col-lg-8" style="padding:0px">
                    <div class="col-lg-6" style="padding:0px">
                        <input type="date" class="form-control" />
                    </div>
                    <div class="col-lg-6" style="padding:0px">
                        <input type="date" class="form-control" />
                    </div>

                </div>
            </div>
                
            
            <div class="col-lg-12">
                <a asp-action="AddCard" asp-controller="Clients" asp-route-id="@Model.User.UserId" class="btn btn-default">Hozzáad</a>
            </div>
        </div>
        <div class="form-group col-lg-12">
            <a asp-action="" asp-controller="Clients" class="btn ui-button addCardButton"><h5>Új bérlet</h5></a>
        </div>

        <div class="form-group col-lg-12" style="text-align:center; margin-top: 30px">
            <input type="submit" value="Ügyfél adatainak mentése" class="addButton" />
        </div>
    </div>

    <div class="col-12">
        <a asp-action="Index">Vissza az ügyfelekhez</a>
    </div>


</div>


@section Scripts {
    <script src="~/js/clients.js"></script>
}
